//advantages block
.advantages {
  &__wrapper {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }

  &__about {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }

  &__list-title {
    font-size: 14px;
    line-height: 26px;
  }

  &__item {
    padding: 25px 0;
    margin: 0;
  }

  &__item--image {
    padding: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
  }

  &__item--grey {
    background: @grey;
  }

  &__item--blue {
    background: @lightblue;
    color: @white;
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    color: @lightblack;
    margin: 0;
    margin-bottom: 24px;
  }

  &__description--white {
    color: @white;
  }

  &__underline {
    height: 1px;
    background: @grey-underline;
    width: 280px;
  }
}
