//advantages block
.advantages__wrapper {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    max-width: 768px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    max-width: 256px;
    width: 100%;
  }

  .advantages__item--image {
    max-width: 512px;
  }
}

@media (min-width: @desctop-width) {
  .advantages__wrapper {
    max-width: 1200px;
  }

  .advantages__item {
    max-width: 400px;
    width: 100%;
  }

  .advantages__item--image {
    max-width: 800px;
  }
}

.advantages__about {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__list-title {
  font-size: 14px;
  line-height: 26px;
}

.advantages__item {
  margin: 0;
  max-height: 256px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 20px;
}

.advantages__item--grey {
  background: @grey;
}

.advantages__item--blue {
  background: @lightblue;
  color: @white;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  color: @lightblack;
  margin: 0;
  margin-bottom: 24px;
}

.advantages__description--white {
  color: @white;
}

.advantages__underline {
  height: 1px;
  background: @grey-underline;
  width: 280px;
}
