// card block
.card {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
}

.card__image {
  display: block;
  margin-bottom: 7px;
  height: 280px;
  object-fit: cover;
  background-color: @lightgrey;
}

.card__underline {
  margin-bottom: 24px;
  height: 1px;
  background: @lightgrey;
  width: 100%;
}

.card__link {
  text-align: left;
  font-weight: 700;
}

.card__description {
  color: @lightblack;
  grid-area: desc;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  margin: 0;
  margin-bottom: 10px;
}

.card__title {
  grid-area: title;
  margin: 0;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
}

.card__like {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  min-height: 27px;
  color: @black;
  fill: fade(@black, 30%);
  text-decoration: none;
  margin-bottom: 15px;
}

.card__like-count {
  margin: 0;
}

.card__svg {
  margin-right: 14px;
  align-self: flex-start;
}

@media (min-width: @tablet-width) {
  .card {
    background: @lightgrey;
  }

  .card__svg {
    margin-right: 10px;
  }

  .card--road {
    grid-area: road;
  }

  .card__image {
    margin: 0;
    width: 324px;
    height: 267px;
    grid-area: image;
  }

  .card__image--big {
    width: 658px;
    height: 400px;
  }

  .card__text {
    padding: 15px 20px;
    display: grid;
    grid-template-areas: "title like""desc like";
    align-items: center;
  }

  .card__text--plant {
    padding: 16px 28px 16px 20px;
  }

  .card__text--north {
    padding: 16px 37px 16px 20px;
  }

  .card__text--bridge {
    padding: 16px 30px 16px 20px;
  }

  .card__title {
    grid-area: title;
    margin: 0;
  }

  .card__description {
    grid-area: desc;
    margin: 0;
  }

  .card__like {
    margin: 0;
    grid-area: like;
    justify-self: flex-end;
  }

  .card__underline {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .card__text--plant {
    padding-right: 28px;
  }

  .card__text--north {
    padding-right: 38px;
  }

  .card__text--bridge {
    padding-right: 28px;
  }

  .card {
    position: relative;
  }

  .card__image {
    width: 400px;
    height: 267px;
  }

  .card__image--big {
    width: @desktop-width;
    height: 400px;
  }

  .card__text {
    padding: 15px 20px;
    background: fade(@black, 30%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: @white;
  }

  .card__description {
    color: inherit;
  }

  .card__like {
    color: inherit;
    fill: @white;
  }
}
