//catalog block
.catalog {
  text-align: left;
}

.catalog__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog__link {
  display: block;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    max-width: 690px;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: "road road""plant north""bridge ...";
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    max-width: @desktop-width;
    grid-template-areas: "road road road""plant north bridge";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 267px;
    grid-auto-flow: row;
    padding: 0;
  }
}
