//contact-form block
.contacts-form__span-desktop {
  display: none;
}

.contacts-form__span {
  margin-left: 20px;
}

.contacts-form__svg {
  top: 36px;
  right: 0;
  position: absolute;
  width: 58px;
  height: 58px;
  background: @darkgrey;
  border: 21px solid @darkgrey;
}

.contacts-form {
  padding: 30px 20px 13px 20px;
}

@media (min-width: @tablet-width) {
  .contacts-form {
    padding: 40px 0 45px;
    grid-area: contacts;
  }

  .contacts-form__span {
    margin-left: 20px;
    margin-bottom: 5px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-form {
    padding: 40px 0 43px;
  }

  .contacts-form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .contacts-form__svg {
    top: 0;
  }

  .contacts-form__span {
    max-width: 150px;
  }

  .contacts-form__span--hidden {
    display: none;
  }

  .contacts-form__span-desktop {
    display: block;
  }
}
