//describe-form block
.describe-form {
  padding: 5px 22px 0 19px;
  margin-bottom: 41px;
}

.describe__text {
  display: none;
}

@media (min-width: @tablet-width) {
  .describe-form {
    grid-area: describe;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
  }

  .describe__text {
    margin-left: auto;
    display: block;
  }
}

@media (min-width: @desctop-width) {
  .describe-form {
    padding: 50px 0 0 0;
  }
}
