//fedback block
.feedback__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .feedback__wrapper {
    max-width: 648px;
  }

  .feedback-form {
    display: grid;
    grid-template-areas: "impression introduce""contacts contacts""place place""describe describe";
    align-items: baseline;
    grid-column-gap: 17px;
    grid-row-gap: 30px;
  }

  .impression-form {
    grid-area: impression;
  }

  .introduce-form {
    grid-area: introduce;
  }

  .contacts-form {
    grid-area: contacts;
  }

  .describe-form {
    grid-area: describe;
  }
}

@media (min-width: @desctop-width) {
  .feedback__wrapper {
    max-width: 960px;
  }

  .place-form {
    max-width: 960px;
  }

  .form__title {
    width: 100%;
    text-align: center;
  }
}
