//form block
.form {
  font-size: 14px;
  line-height: 26px;
}

.form__title {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 18px;
}

.form__text {
  align-items: center;
}

.form__text--column {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form__input {
  font-weight: 700;
  color: @black;
  border: 0;
  background: @lightgrey;
  padding: 18px 0 14px 20px;
  width: 100%;
}

.form__input::placeholder {
  font-family: "PT sans", "Arial", sans-serif;
  color: @black;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__textarea {
  font-family: inherit;
  background: @lightgrey;
  min-width: 280px;
  min-height: 160px;
  padding: 13px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: 0;
}

.form__textarea::placeholder {
  color: @black;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}


@media (min-width: @tablet-width) {
  .form__textarea {
    width: 100%;
  }

  .form__title {
    text-align: left;
    margin: 0;
    margin-bottom: 72px;
  }

  .form__text {
    margin-bottom: 29px;
    align-items: flex-start;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .page-main__line {
    display: none;
  }

  .form__input {
    margin-left: 0;
  }
}

@media (min-width: @desctop-width) {
  .form__text--column {
    flex-direction: row;
  }
}
