//greeting-main block

.greeting-main {
  background: url("../img/back-mobile.jpg") no-repeat;
  padding: 90px 0;
  position: relative;
}

.greeting-main__wrapper {
  max-width: 320px;
  width: 100%;
  text-align: center;
}

.greeting-main__triangle {
  position: absolute;
  bottom: 5px;
  fill: @white;
}
