//greeting block
.greeting {
  background: url("../img/back-mobile.jpg") no-repeat;
  background-image: center;
  text-align: center;
}

.greeting__text {
  fill: @white;
}

.greeting__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .greeting__wrapper {
    width: 648px;
  }
}
