//greeting block
.greeting {
  background: url("../img/back-mobile.jpg") no-repeat 50% 100%;
  background-color: @lightblue;

  @media (min-resolution: 2dppx) {
    background: url("../img/back-mobile@2x.jpg") no-repeat 50% 100%;
  }
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.greeting__text {
  fill: @white;
}

.greeting__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 55px 0;
}

.greeting__triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  fill: #ffffff;
}

@media (min-width: @tablet-width) {
  .greeting__wrapper {
    max-width: @tablet-width;
    width: 100%;
    padding: 95px 0 112px 0;
  }

  .greeting__text {
    width: 457px;
    height: 78px;
  }

  .greeting {
    background: url("../img/back-tablet.jpg") center bottom no-repeat;
    max-width: @tablet-width;

    @media (min-resolution: 2dppx) {
      background: url("../img/back-tablet@2x.jpg") center bottom no-repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .greeting {
    background: url("../img/back-desktop.jpg") center bottom no-repeat;
    max-width: @desktop-width;

    @media (min-resolution: 2dppx) {
      background: url("../img/back-desktop@2x.jpg") center bottom no-repeat;
    }
  }

  .greeting__wrapper {
    max-width: @desktop-width;
    width: 100%;
    padding: 100px 0 115px 0;
  }
}
