//hotel-search block

.hotel-search {
  padding: 33px 0 49px 0;

  &__wrapper {
    max-width: 320px;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  &__title {
    font-size: 21px;
    line-height: 26px;
    color: @black;
    margin: 0;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color: @lightblack;
    margin-bottom: 20px;
  }

  &__link {
    color: @white;
    font-size: 21px;
    line-height: 26px;
    display: block;
    padding: 15px 0 18px 0;
    text-align: center;
    background: @lightblue;
    text-decoration: none;
    width: 280px;
    margin: 0 auto;
  }
}
