//impression-form block
.impression-form {
  padding: 20px 20px 0 20px;
  display: grid;
  grid-gap: 20px;
}


@media (min-width: @tablet-width) {
  .impression-form {
    grid-area: impression;
    padding: 20px 0;
    grid-gap: 30px;
    position: relative;
    padding-right: 70px;
  }

  .impression-form::after {
    content: "";
    position: absolute;
    background: @form-line;
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .impression-form {
      max-width: 400px;
  }

  .impression-form::after {
    top: 30px;
    right: -80px;
    height: 292px;
  }
}
