//introduce-form block

.introduce-form {
  padding: 0 20px 0;
}

@media (min-width: @tablet-width) {
  .introduce-form {
    padding: 0;
    margin-left: 40px;
    grid-area: introduce;
  }
}

@media (min-width: @desktop-width) {
  .introduce-form {
    margin-left: 0;
    max-width: 400px;
  }
}
