//main-nav block

.main-nav {
  .main-nav__wrapper {
    max-width: 320px;
  }

  .main-nav__link {
    font-style: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: @black;
  }

  .main-nav__toggle {
    background: url("../img/icon-menu.svg") no-repeat;
    border: 0;
    width: 23px;
    height: 22px;
  }
}
