//presentation block
.presentation {
  text-transform: uppercase;
  text-align: center;
}

.presentation__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 10px 0 47px 0;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-family: inherit;
  margin: 0;
  margin-bottom: 28px;
}

.presentation__description {
  font-size: 14px;
  line-height: 24px;
  color: @lightblack;
  max-width: 275px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.presentation__button {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.presentation__button:focus {
  outline: 1px solid fade(@black, 50%);
}

.presentation__line-background {
  background: fade(@black, 60%);
  width: 100%;
  height: 45px;
  position: absolute;
  top: -45px;
  left: 0;
  margin: 0 auto;
  padding: 22px 0 20px 0;
}

.presentation__line {
  margin: 0 auto;
  height: 3px;
  width: 100%;
  max-width: 235px;
  background: fade(@white, 20%);
}

.presentation__svg {
  fill: @presentation-button;
}

.presentation__svg:hover {
  fill: @lightblack;
}

.presentation__svg:active {
  fill: fade(@lightblack, 30%);
}


.presentation__button--replay {
  margin-right: auto;
}

.presentation__button--subtitles {
  margin-right: 15px;
}

.presentation__play {
  position: relative;
  background: @lightgrey;
  min-width: 280px;
  min-height: 66px;
  margin: 0 auto;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
}

.presentation__play::before {
  content: "";
  position: absolute;
  bottom: 82px;
  left: 77px;
  width: 10px;
  height: 10px;
  background: @white;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
}

.presentation__image {
  display: block;
  background-color: @lightgrey;
}

.presentation__video {
  min-width: 100%;
}

@media (min-width: @tablet-width) {
  .presentation__wrapper {
    max-width: 648px;
    padding: 60px 0 45px 0;
  }

  .presentation__image {
    width: 648px;
    height: 500px;
  }

  .presentation__title {
    font-size: 30px;
  }

  .presentation__description {
    margin-bottom: 82px;
    max-width: 450px;
  }

  .presentation__video {
    position: relative;
  }

  .presentation__play {
    background: fade(@black, 30%);
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    padding: 0 36px 0 30px;
  }

  .presentation__play::before {
    bottom: 39px;
    left: 205px;
  }

  .presentation__svg {
    fill: @white;
  }

  .presentation__svg:hover {
    fill: fade(@white, 60%);
  }

  .presentation__svg:active {
    fill: fade(@white, 30%);
  }

  .presentation__line {
    max-width: 400px;
  }

  .presentation__line-background {
    position: static;
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .presentation__wrapper {
    max-width: 800px;
    padding: 65px 0 90px 0;
  }

  .presentation__description {
    margin-bottom: 80px;
  }

  .presentation__image {
    width: 800px;
  }

  .presentation__button--subtitles {
    margin-right: 20px;
  }

  .presentation__line {
    max-width: 540px;
  }
}
