// colors
@lightblue: #81B3D2;
@lightbrown: #766458;
@lightblack: #333333;
@lightgrey: #F2F2F2;
@grey: #EEEEEE;
@grey-underline: #D6D6D6;
@presentation-button: #5C6870;

@white: #ffffff;
@black: #000000;


@lightblue-hover: #669EC0;
@lightblue-active: #5496BD;
